@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,800);
@import url(https://fonts.googleapis.com/css?family=Geo:400italic);

* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

@font-face {
    font-family: 'LeagueGothic';
    src: local('League Gothic'), local('LeagueGothic'), url('../font/leaguegothic.woff2') format('woff2'), url('../font/leaguegothic.woff') format('woff'), url('../font/leaguegothic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body{
    width: 100%;


}
header {
    height: 869px;
    background: url('../img/background_header.jpg') center 0 no-repeat;
}

.container {
    width: 960px;
    margin: 0 auto;

}

.logo {
    margin-top: 70px;
    float: left;
}

.logo a {
    color: #fff;
    font-family: 'LeagueGothic', Tahoma, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 34px;
    text-decoration: none;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

.logo__end {
    color: #483351;
    font-family: 'LeagueGothic', Tahoma, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 34px;
}

.menu {
    margin-right: 1px;
    float: right;
}

.menu__item {
    margin-top: 66px;
    margin-left: 51px;
    float: left;
    list-style: none;
}

.menu__link {
    display: block;
    border-bottom: 2px solid transparent;
    color: #fff;
    font-family: 'LeagueGothic', Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
    text-transform: uppercase;
}

.menu__link:hover {
    border-bottom: 2px solid #edbfff;
}

.slider__background {
    position: relative;
    width: 100%;
    height: 400px;
    top: 275px;
    background: rgba(0, 0, 0, .2);
    z-index: 0 ;
}

.slider__text {
    position: relative;

    width: 510px;
    margin-top: -54px;
    margin-left: 3px;
    float: left;
}

.slider__text_h1 {
    color: #fefefe;
    font-family: 'LeagueGothic', "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    word-spacing: -.1em;
}

.slider__text_h2 {
    margin-top: -10px;
    color: #edbfff;
    font-family: 'LeagueGothic', Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .03em;
    word-spacing: -.01em;
}

.slider__text_p {
    margin-top: 4px;
    color: #fff;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    word-spacing: -.05em;
    word-wrap: break-word;
}

.slider__img {
    margin-top: -145px;
    margin-right: 65px;
    float: right;
}

.slider__navi {
    display: block;
    position: absolute;
    top: 769px;
    left: 863px;
    width: 88px;
    height: 17px;
}

.slider__navi_link {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    float: left;
    background: url('../img/sprite.png') 0 -1px;
}

.slider__navi_link_active {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    float: left;
    background: url('../img/sprite.png') -22px -1px;
}

.slider__navi_link:hover {
    width: 17px;
    height: 17px;
    float: left;
    background: url('../img/sprite.png') -22px -1px;
}

.blurbs {
    position: relative;
    width: 100%;
    height: 342px;
    margin-top: -25px;
    background-image: -moz-linear-gradient(bottom, #322539 0%, #745083 100%);
    background-image: -o-linear-gradient(bottom, #322539 0%, #745083 100%);
    background-image: linear-gradient(to top, #322539 0%, #745083 100%);
}

.blurbs__left_img {
    width: 38px;
    height: 38px;
    margin-top: 83px;
    margin-left: 8px;
    float: left;
    background-image: url('../img/sprite.png');
    background-position: -49px -4px;
}

.blurbs__center_img {
    width: 39px;
    height: 33px;
    margin-top: 83px;
    float: left;
    background: url('../img/sprite.png') -82px -3px;
}

.blurbs__right_img {
    width: 27px;
    height: 28px;
    margin-top: 83px;
    margin-left: 13px;
    float: left;
    background: url('../img/sprite.png') -133px -4px;
}

.blurbs__left,
.blurbs__center,
.blurbs__right {
    width: 273px;
    height: 214px;
    float: left;
}

.blurbs__center {
    margin-left: 67px;
}

.blurbs__right {
    margin-left: 63px;
}

.blurbs__left_h2,
.blurbs__center_h2,
.blurbs__right_h2 {
    width: 203px;
    height: 22px;
    margin-top: 76px;
    margin-left: 65px;
    color: #fff;
    font-family: 'LeagueGothic', serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .05em;
    text-shadow: 1px 1px 0 #0f1518;
}

.blurbs__left_p,
.blurbs__center_p,
.blurbs__right_p {
    display: block;
    width: 220px;
    height: 125px;
    margin-top: 17px;
    margin-left: 63px;
    color: #fff;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-shadow: 1px 1px 0 #0f1518;
    overflow: hidden;
}

.blurbs__left_link a,
.blurbs__center_link a,
.blurbs__right_link a {
    display: block;
    width: 67px;
    margin-top: 11px;
    margin-left: 224px;
    color: #fff;
    font-family: 'LeagueGothic', Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.blurbs__left_link a:hover,
.blurbs__center_link a:hover,
.blurbs__right_link a:hover
{
    text-shadow: 0 0 8px rgba(255, 255, 255, .8);
}

main {
    width: 100%;
    height: 608px;
    background-color: #f9f9f9;
}

.main__separator {
    position: absolute;
    top: 1670px;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    z-index: 11;
}

.blog__img {
    position: absolute;
    margin-top: 117px;
    z-index: 1;
}

.blog {
    width: 475px;
    float: left;
}

.blog__content {
    position: relative;
    width: 427px;
    height: 292px;
    margin-top: 100px;
    margin-left: 24px;
    background: url('../img/blog_background.png') no-repeat;
}

.blog__content_h3 {
    padding-top: 32px;
    padding-left: 40px;
    color: #454545;
    font-family: 'LeagueGothic', "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-shadow: 1px 1px 0 #fff;
    text-transform: uppercase;
}

.blog_content_h3span {
    color: #edbfff;
}

.blog__content_p {
    width: 346px;
    height: 167px;
    padding-top: 12px;
    padding-left: 38px;
    color: #454545;
    font-family: 'Open Sans', "Open Sans", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-shadow: 1px 1px 0 #fff;
    overflow: hidden;
}

.blog__navi {
    display: block;
    position: relative;
    width: 88px;
    height: 17px;
    margin-top: 3px;
    margin-left: 194px;
}

.blog__navi_link {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    float: left;
    background: url('../img/sprite.png') 0 -20px;
}

.blog__navi_link_active {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    float: left;
    background: url('../img/sprite.png') -22px -20px;
}

.blog__navi_link:hover {
    width: 17px;
    height: 17px;
    float: left;
    background-image: url('../img/sprite.png');
    background-position: -22px -20px;
}

.recentupd {
    width: 421px;
    margin-top: 131px;
    margin-right: 28px;
    float: right;
}

.recentupd__h3 {
    margin-bottom: 19px;
    color: #454545;
    font-family: 'LeagueGothic', Tahoma, "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    text-shadow: 1px 1px 0 #fff;
}

.recentupd__block1_img {
    width: 49px;
    height: 49px;
    float: left;
    border-radius: 50%;
}

.recentupd__block_h4 {
    width: 365px;
    margin-left: 65px;
    color: #454545;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-shadow: 1px 1px 0 #fff;
}

.recentupd__block_p {
    width: 376px;
    margin-bottom: 0px;
    margin-left: 68px;
    color: #454545;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-shadow: 1px 1px 0 #fff;
    word-spacing: -.9px;
}

.recentupd__link {
    float: right;
    margin-top: 18px;
    margin-right: -10px;
    color: #454545;
    font-family: 'LeagueGothic', Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
}

.logos__img_img {
    padding-top: 98px;
    padding-left: 93px;
}

.thirstfooter {
    width: 100%;
    height: 394px;
    border-top: 1px solid #ddd;
    background-color: #ececec;
}

.thirstfooter__leftcols {
    width: 277px;
    height: 202px;
    margin-right: 62px;
    float: left;
}

.thirstfooter__leftcols_h3 {
    margin-top: 98px;
    color: #454545;
    font-family: 'LeagueGothic', Tahoma, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 34px;
    text-shadow: 0 1px 0 #fff;
}

.thirstfooter__leftcols_h3 span {
    color: #b9b9b9;
    font-family: 'LeagueGothic', Tahoma, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 34px;
    text-shadow: 0 1px 0 #fff;
}

.thirstfooter__leftcols_copyright {
    margin-top: 18px;
    color: #c5c5c5;
    font-family: 'Georgia', Tahoma, sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    text-shadow: 1px 1px 0 #fff;
}

.thirstfooter__leftcols_p {
    width: 277px;
    height: 120px;
    margin-top: 6px;
    color: #787878;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-shadow: 1px 1px 0 #fff;
    overflow: hidden;
}

.thirstfooter__centercols {
    width: 277px;
    height: 201px;
    float: left;
}

.thirstfooter__rightcols {
    width: 277px;
    height: 201px;
    margin-left: 63px;
    float: left;
}

.thirstfooter__centercols_h4,
.thirstfooter__rightcols_h4 {
    margin-top: 99px;
    color: #454545;
    font-family: 'LeagueGothic', Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-shadow: 1px 1px 0 #fff;
}

.thirstfooter__centercols_p,
.thirstfooter__rightcols_p {
    width: 277px;
    height: 169px;
    margin-top: 8px;
    color: #787878;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-shadow: 1px 1px 0 #fff;
    overflow: hidden;
}

footer {
    width: 100%;
    height: 114px;
    background: url('../img/footer_bg.jpg') center 0 no-repeat;
}

.menufooter {
    margin-right: 1px;
}

.menufooter__item {
    margin-right: 43px;
    float: left;
    list-style: none;
}

.menufooter__link {
    display: block;
    color: #fff;
    font-family: 'LeagueGothic', Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 114px;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
    text-transform: uppercase;
}

.footer__copyright {
    margin-top: 3px;
    float: right;
    color: #fff;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 111px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
}

.footer__copyright span {
    font-weight: 700;
}

@media (max-width: 959px) {
    .container {
        width: 728px;
        margin: 0 auto;
    }

    .logo {
        margin-top: 70px;
        margin-right: 500px;
    }

    .menu {
        float: left;
    }

    .menu__item {
        margin-top: 30px;
        margin-right: 52px;
        margin-left: 0;
    }

    .slider__background {

        top: 243px;
        height: 400px;
    }

    .slider__text {

        width: 310px;
        margin-top:-65px;
        margin-left: 24px;
    }

    .slider__text_h1 {
        margin-left: 1px;
        font-size: 24px;
    }

    .slider__text_h2 {
        width: 272px;
        height: 26px;
        margin-top: 1px;
        font-size: 14px;
        word-spacing: .1em;
        overflow: hidden;
    }

    .slider__text_p {
        height: 100px;
        margin-top: 10px;
        font-size: 16px;
        line-height: 26px;
        overflow: hidden;
    }

    .slider__img {
        margin-top: -180px;
        margin-right: 24px;
    }

    .slider__navi {
        top: 680px;
        left: 568px;
    }

    .blurbs {
        margin-top: -72px;
    }

    .blurbs__left_img {
        margin-top: 80px;
    }

    .blurbs__left,
    .blurbs__center,
    .blurbs__right {
        width: 200px;
        height: 165px;
    }

    .blurbs__center {
        margin-left: 53px;
    }

    .blurbs__right {
        margin-left: 59px;
    }

    .blurbs__left_h2,
    .blurbs__center_h2,
    .blurbs__right_h2 {
        width: 150px;
        height: 14px;
        font-size: 14px;
        letter-spacing: .07em;
    }

    .blurbs__left_p,
    .blurbs__center_p,
    .blurbs__right_p {
        width: 155px;
        height: 136px;
        margin-top: 18px;
        margin-left: 65px;
        line-height: 22px;
    }

    .blurbs__left_link a,
    .blurbs__center_link a,
    .blurbs__right_link a {
        margin-left: 155px;
    }

    .blog {
        width: 337px;
    }

    .blog__content {
        width: 313px;
        height: 272px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    }

    .blog__content_h3 {
        width: 85px;
        padding-top: 30px;
        font-size: 24px;
    }

    .blog__content_p {
        width: 248px;
        height: 140px;
        padding-top: 8px;
    }

    .blog__navi {
        margin-top: 25px;
        margin-left: 140px;
    }

    .recentupd {
        width: 300px;
        margin-top: 132px;
        margin-right: 30px;
    }

    .recentupd__block_p {
        width: 250px;
        height: 20px;
        margin-bottom: 5px;
        overflow: hidden;
    }

    .recentupd__block_h4 {
        margin-left: 66px;
        width: 260px;
        line-height: 24px;
    }

    .recentupd__link {
        width: 89px;
        margin-top: 18px;
        margin-left: 240px;
        float: left;
    }

    .logos__img_img {
        width: 725px;
        padding-top: 100px;
        padding-left: 4px;
    }

    .main__separator {
        top: 1625px;
    }

    .thirstfooter__leftcols_h3 {
        margin-top: 96px;
        margin-left: 2px;
        font-size: 26px;
    }

    .thirstfooter__leftcols_h3 span {
        font-size: 26px;
    }

    .thirstfooter__leftcols_copyright {
        font-size: 14px;
    }

    .thirstfooter__leftcols_p {
        width: 205px;
    }

    .thirstfooter__leftcols {
        width: 190px;
        margin-right: 78px;
    }

    .thirstfooter__centercols {
        width: 205px;
    }

    .thirstfooter__rightcols {
        width: 205px;
        margin-left: 50px;
    }

    .thirstfooter__centercols_h4,
    .thirstfooter__rightcols_h4 {
        margin-top: 100px;
        font-size: 26px;
    }

    .thirstfooter__centercols_p,
    .thirstfooter__rightcols_p {
        width: 205px;
    }

    footer {
        height: 201px;
        background: url('../img/footer_bg_768.png') center 0 no-repeat;
    }

    .footer__copyright {
        margin-top: 55px;
    }
}
@media screen and (max-width: 960px)
 {
    header {
        height: 620px;
        background: url('../img/background_header.jpg') center 0 no-repeat;
    }

    .container {
        width: 440px;
    }

    .logo {
        position: relative;
        margin-left: 145px;
    }

    .menu {
        position: absolute;
        width: 246px;
        height: 259px;
        margin-top: 130px;
        margin-left: 99px;
        float: none;
        border: 1px solid #051116;
        border-radius: 10px;
        background-color: #36293e;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
        opacity: .9;
        z-index: 100;
    }

    .menu__item {
        width: 246px;
        margin-top: 0;
        border-bottom: 2px solid #051116;
        text-align: center;
    }

    .menu__link {
        line-height: 40px;
    }

    .menu__item:hover {
        background: rgba(0, 0, 0, .3);
    }

    .menu__item:last-child {
        border-bottom: 2px solid transparent;
    }

    .slider__background {
        top: 199px;
        height: 246px;

    }

    .slider__text {
        width: 210px;
        margin-top: 190px;
    }

    .slider__text_h1 {
        margin-top: -146px;
        margin-left: -1px;
        font-size: 17px;
        word-spacing: .2em;
    }

    .slider__text_h2 {
        width: 210px;
        height: 18px;
        margin-top: -2px;
        margin-left: -2px;
        font-size: 12px;
        word-spacing: -.2em;
        overflow: hidden;
    }

    .slider__text_p {
        display: none;
    }

    .slider__img img {
        height: 304px;
        margin-top: 0;
        margin-right: 0;
    }

    .slider__img {
        margin-top: -57px;
        margin-right: 8px;
    }

    .slider__navi {
        top: 469px;
        left: 310px;
    }

    .blurbs {
        margin-top: -76px;
        height: 598px;
    }

    .blurbs__left,
    .blurbs__center,
    .blurbs__right {
        width: 419px;
    }

    .blurbs__left_p,
    .blurbs__center_p,
    .blurbs__right_p {
        width: 364px;
        height: 75px;
        margin-top: 14px;
        line-height: 25px;
    }

    .blurbs__center,
    .blurbs__right {
        margin-top: -8px;
        margin-left: 0;
    }

    .blurbs__right {
        margin-top: -4px;
    }

    .blurbs__left_link a,
    .blurbs__center_link a,
    .blurbs__right_link a {
        margin-top: 10px;
        margin-left: 380px;
    }

    .blog {
        width: 440px;
        margin-top: -30px;
    }

    .blog__content {
        width: 416px;
        height: 272px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    }

    .blog__content_h3 {
        width: 220px;
        font-size: 30px;
    }

    .blog__content_p {
        width: 346px;
        height: 165px;
        margin-top: 10px;
        margin-left: 2px;
    }

    .blog__navi {
        margin-left: 185px;
    }

    .recentupd {
        margin-top: 50px;
        margin-left: 65px;
        float: left;
    }

    main {
        height: 1020px;
    }

    .recentupd__link {
        margin-left: 250px;
    }

    .logos__img {
        position: relative;
        width: 345px;
        height: 154px;
        top: 825px;
        padding-left: 50px;
        background: url('../img/logos_480.png') no-repeat 100% 50%;
        z-index: 4;
    }

    .main__separator {
        top: 1930px;
    }

    .logos__img_img {
        display: none;
    }

    .thirstfooter {
        height: 668px;

    }

    .thirstfooter__leftcols_h3 {
        margin-top: 75px;
    }

    .thirstfooter__leftcols_copyright {
        margin-top: 0;
    }

    .thirstfooter__leftcols_p {
        width: 440px;
        height: 94px;
    }

    .thirstfooter__centercols_h4,
    .thirstfooter__rightcols_h4 {
        margin-top: 60px;
    }

    .thirstfooter__centercols_p,
    .thirstfooter__rightcols_p {
        width: 440px;
        height: 94px;
    }

    .thirstfooter__centercols {
        width: 440px;
    }

    .thirstfooter__rightcols {
        margin-top: -10px;
        margin-left: 0;
    }

    footer {
        height: 200px;
    }

    .menufooter__item {
        margin-right: 19px;
        margin-left: 5px;
    }

    .menufooter__item:last-child {
        margin-right: 0;
        line-height: 12px;
    }

    .footer__copyright {
        margin-top: -10px;
        margin-left: 153px;
        float: left;
        line-height: 12px;
    }
}

@media (max-width: 479px) {
    .container {
        width: 279px;
        overflow: hidden;

    }

    .logo {
        margin-left: 65px;

    }

    .menu {
        width: 60px;
        margin-top: 135px;
        margin-left: 120px;
        border: hidden;
        background-color: transparent;
        box-shadow:none;
    }

    .menu__item {
        display: none;
        width: 47px;
        border: 0;
    }

    .menu__item:nth-child(1) {
        display: block;
    }

    .menu__item:hover {
        background: transparent;
    }

    .slider__background {
        display: none;
    }

    .slider__text_h1{
        margin-top: -7px;
    }

    .slider__text {
        margin-top: 190px;
        margin-left: 50px;
    }

    .slider__text_p {
        display: none;
    }

    .slider__img {
        display: none;
    }

    .slider__navi {
        top: 427px;
        left: 129px;
    }

    .blurbs {
        margin-top: -106px;

    }

    .blurbs__left_img {
        margin-top: 72px;
    }

    .blurbs__left,
    .blurbs__center,
    .blurbs__right {
        width: 250px;
        height: 126px;
    }

    .blurbs__left_h2,
    .blurbs__center_h2,
    .blurbs__right_h2 {
        margin-top: 69px;
    }

    .blurbs__left_p,
    .blurbs__center_p,
    .blurbs__right_p {
        width: 196px;
        height: 69px;
    }

    .blurbs__left_link a,
    .blurbs__center_link a,
    .blurbs__right_link a {
        margin-top: 16px;
        margin-left: 222px;
    }

    .blurbs__center {
        margin-top: 30px;
    }

    .blurbs__right {
        margin-top: 47px;
    }

    main {
        height: 1209px;
    }

    .main__separator {
        top: 1898px;
    }

    .blog__img {
        margin-top: 118px;
        margin-left: 2px;
    }

    .blog__content {
        width: 256px;
        height: 272px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    }

    .blog__content_h3 {
        width: 85px;
        padding-top: 24px;
        font-size: 24px;
    }

    .blog__content_p {
        width: 182px;
        margin-top: -5px;
        margin-left: 4px;
    }

    .blog__navi {
        margin-left: 122px;
    }

    .recentupd {
        width: 212px;
        margin-right: 0;
        margin-left: 3px;
    }

    .recentupd__block1_img {
        margin: 0;
    }

    .recentupd__h3 {
        margin-top: 2px;

    }

    .recentupd__block_h4 {
        position: relative;
        width: 200px;
        height: 22px;
        margin-top: -50px;
        margin-right: -54px;
        float: right;
        line-height: 22px;
        overflow: hidden;
    }

    .recentupd__block_p {
        width: 212px;
        margin-top: -28px;
        margin-right: -65px;
        margin-bottom: 26px;
        float: right;
    }

    .recentupd__link {
        margin-top: -4px;
        margin-left: 186px;
        float: left;
    }

    .logos__img_img {
        display: none;
    }

    .logos__img {
        position: absolute;
        top: 1950px;
        width: 237px;
        height: 294px;
        padding-top: 0;
        padding-left: 25px;
        background: url('../img/logos_320.png') no-repeat 100% 50%;
        z-index: 14;
    }

    .thirstfooter {
        display: none;
    }

    footer {
        height: 200px;
    }

    .menufooter__item {
        display: none;
    }

    .footer__copyright {
        width: 148px;
        height: 14px;
        margin-top: 40px;
        margin-left: 73px;
        line-height: 12px;
    }

}