* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../font/helveticaneuecyr-light-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    margin: 0 auto;
    width: 1215px;
    height: 1064px;
    background-image: url('../img/Background.png');
    background-repeat: no-repeat;
    font-family: "helveticaneuecyrlight", Tahoma, sans-serif;
}


.menu a{
    display: block;
    float: left;
}
.section-left {

}
.menu li{
    list-style: none;

}
.menu a{
    text-decoration: none;

}
.form{
    position: relative;
    clear: both;
    width: 560px;
    height: 613px;
    background-color: rgba(0,0,0,.65);

    margin: auto;
    z-index: 1;

}