* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../font/lucida_sans_unicode_regular-webfont.woff2') format('woff2'), url('../font/lucida_sans_unicode_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    font-family: "Lucida Sans Unicode", Arial, tahoma, sans-serif;

}

.wrapper {
    width: 912px;
    margin: 0 auto;
}

.phone-icon img {
    width: 21px;
    height: 21px;
    margin: 22px 0 0 7px;
    float: left;
    border-radius: 50%;
    background: #f10000 linear-gradient(to top, #206988 0%, #114165 59%, #0c3256 100%);
}

.phone-number a {
    display: block;
    height: 26px;
    margin: 21px 0 0 3px;
    float: left;
    color: #5e696d;
    font-family: Arial;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.login-form {
    width: 495px;
    height: 26px;
    margin: 18px 0 0 17px;
    float: left;
    border-radius: 3px;
    background: #b1bcc0 linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
    box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
}

.login-form img {
    margin: 4px 3px 4px 7px;
    float: left;
}

.login-form input {
    width: 107px;
    height: 16px;
    margin: 3px 5px 0 0;
    float: left;
    border: 1px solid #9ba1a3;
    background-color: #fff;
    font-size: 11px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding-left: 7px;
    color: #97a2a6;
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    font-weight: 400;
}

.login-form a {
    display: block;
    margin-left: 3px;
    float: left;
    color: #fff;
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.login-form .fogoutpassword {
    margin-right: 9px;
    float: right;
    color: #bfbfbf;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 25px;
    text-decoration: underline;
}

.login-form span {
    margin: 0 1px 0 5px;
    float: left;
    color: #fff;
    font-family: 'Lucida Sans Unicode';
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
}

.icon {
    width: 77px;
    height: 21px;
    margin: 18px 0 0 17px;
    float: left;
    border: 1px solid #bdc4c7;
    border-radius: 19px;
    box-shadow: 0 1px 3px 1px rgba(126, 140, 145, .5);
}

.icon img {
    padding: 0 0 4px 6px;
}

.baner img {
    margin-top: 7px;
}

nav {
    width: 908px;
    height: 34px;
    margin-bottom: 10px;
    float: left;
    border: 1px solid #0d1642;
    border-radius: 4px;
    background: #fff linear-gradient(to top, #000 0%, #576068 100%);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
}

nav li {
    display: block;
    margin-right: 30px;
    float: left;
    list-style: none;
    text-align: center;
}

nav li:first-child {
    margin-left: 140px;
}

nav a {
    float: left;
    color: #b1bcc0;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    border-radius: 30%;
    background: #f60303 linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
    color: #fff;
}

.cart a:hover {
    background: #fff linear-gradient(to top, #000 0%, #576068 100%);
    color: #0d5a8f;
}

.cart span {
    display: block;
    margin-left: 7px;
    float: left;
    color: #929b9f;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 29px;
}

.cart a {
    margin-left: 5px;
    float: left;
    color: #0d5a8f;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 29px;
    text-decoration: none;
}

.cart img {
    margin: 7px 0 9px 35px;
    float: left;
}

.search-form-left {
    width: 412px;
    height: 132px;
    margin-left: 5px;
    float: left;
    border: 1px solid #9c9c9d;
    border-radius: 17px;
    background-color: #fff;
    box-shadow: 2.6px 4.3px 5px rgba(104, 104, 104, .75);
}

.title-form-left {
    display: block;
    height: 20px;
    color: #154468;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
}

.search-form-left h3 {
    margin-top: -2px;
    padding-left: 64px;
    float: left;
    color: #154467;
    font-family: Arial;
    font-size: 14px;
    font-weight: 900;
}

.title-form-left-left {
    display: block;
    padding: 4px 0 0 20px;
    float: left;
    letter-spacing: 1.2px;
}

.title-form-left-right {
    display: block;
    padding: 1px 20px 0 0;
    float: right;
    letter-spacing: 1.2px;
}

.search-form-left form {
    float: left;
    color: #000;
    font-family: Arial;
    font-weight: 400;
}

.search-form-left select {
    margin: 0 0 5px 3px;
}

.left-cols-text {
    width: 71px;
    padding-left: 17px;
    float: left;
    color: #000;
    font-size: 10px;
    line-height: 8px;
}

.text-marka-avto {
    padding-top: 6px;
}

.text-model-avto {
    padding-top: 7px;

}

.text-year {
    padding-top: 7px;
}

.text-accessories-avto {
    padding-top: 10px;

}

.left-cols-text span {
    color: #77858b;
    font-size: 9px;
}

.w101 {
    width: 103px;
    height: 17px;
    background-color: #fff;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .75);
}

.w57 {
    width: 58px;
    height: 17px;
    background-color: #fff;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .75);
}

.right-cols-text {
    width: 71px;
    margin-top: -1px;
    padding-left: 27px;
    float: left;
    color: #000;
    font-size: 10px;
    line-height: 8px;
}

.right-cols-text span {
    color: #77858b;
    font-size: 9px;
}

.search-form-left a {
    padding: 2px 23px 0 0;
    float: right;
    color: #154467;
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
    line-height: 15px;
    text-decoration: underline;
}

.w101r {
    width: 103px;
    height: 17px;
    margin-top: -3px;
    background-color: #fff;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .75);
}

.w57r {
    width: 58px;
    height: 17px;
    padding-top: 4px;
    background-color: #fff;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .75);
}

.search-form-centre {
    width: 193px;
    height: 136px;
    margin: -2px 0 0 12px;
    float: left;
    border: 1px solid #9c9c9d;
    border-radius: 13%;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(150, 150, 150, .75);
}

.search-form-right {
    width: 268px;
    height: 134px;
    margin: -2px 0 0 8px;
    float: left;
    border: 1px solid #9c9c9d;
    border-radius: 10%;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(150, 150, 150, .75);
}

.center-part {
    margin-top: 13px;
}

aside {
    width: 183px;
    float: left;
}

aside h3 {
    display: block;
    margin: 3px 0 0 3px;
    float: left;
    background-color: #fff;
    color: #114165;
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
}

.left-sidebar-header {
    width: 180px;
    height: 27px;
    margin: 2px 0 11px;
    border: 1px solid #79878d;
    border-radius: 20px;
    box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
}

.left-sidebar-header-logo img {
    width: 20px;
    height: 20px;
    margin: 2px 0 0 1px;
    float: left;
}

.left-sidebar-title {
    width: 118px;
    height: 28px;
    padding-left: 29px;
    border: 1px solid #79878d;
    border-radius: 24px;
    background: url('../img/li-image.png') no-repeat 3% 50%;
    color: #114165;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;

}

aside a {
    display: inline-block;
    position: relative;
    margin: 0 0 1px -8px;
    color: #465961;
    font-family: 'Lucida Sans Unicode';
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .07em;
}

aside a:hover {
    color: #0c3256;
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
}

aside li {
    margin-top: -1px;
    margin-left: 54px;
    list-style-type: circle;
}

/*start product*/
main {
    width: 526px;
    height: 627px;
    margin-left: 6px;
    float: left;
    border-radius: 2px;
    background-color: #fff;
    background-image: linear-gradient(to top, rgba(35, 75, 93, .24) 0%, rgba(201, 207, 209, .24) 100%);
    font-family: 'Lucida Sans Unicode';
    font-weight: 400;
}

.product-item1,
.product-item2,
.product-item3,
.product-item4,
.product-item5,
.product-item6,
.product-item7,
.product-item8,
.product-item9 {
    height: 202px;
    float: left;
}

/*start product left cols*/
.product-item-brend {
    margin: 14px 0 0 58px;
    color: #206988;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;

}

.product-item-marka {
    margin-left: 36px;
    color: #1f2528;
    font-size: 13px;
    line-height: 13px;
}

.product-item-photo {
    width: 135px;
    height: 129px;
    margin-left: 24px;
    border: 1px solid #a4aeb1;
    border-radius: 7px;
    background-color: #fff;
}

.product-item-photo img {
    margin: 4px 0 0 30px;
}

.product-item-price {
    margin: 1px 0 0 63px;
    color: #114165;
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
}

.product-item-price span {
    font-size: 12px;
}

/*start product center cols*/
.product-item-brend-nokian {
    margin: 15px 0 0 75px;
    color: #206988;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;

}

.product-item-marka-nokian {
    margin-left: 54px;
    color: #1f2528;
    font-size: 13px;
    line-height: 13px;
}

.product-item-photo-nokian {
    width: 135px;
    height: 127px;
    margin-left: 31px;
    border: 1px solid #a4aeb1;
    border-radius: 7px;
    background-color: #fff;
}

.product-item-photo-nokian img {
    margin: 4px 0 0 30px;
}

.product-item-price-nokian {
    margin: 4px 0 0 65px;
    color: #114165;
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
}

/*start product right cols*/
.product-item-brend-hankook {
    margin: 15px 0 0 69px;
    color: #206988;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;

}

.product-item-marka-hankook {
    margin-left: 41px;
    color: #1f2528;
    font-size: 13px;
    line-height: 13px;
}

.product-item-photo-hankook {
    width: 135px;
    height: 127px;
    margin-left: 31px;
    border: 1px solid #a4aeb1;
    border-radius: 7px;
    background-color: #fff;
}

.product-item-photo-hankook img {
    margin: 4px 0 0 28px;
}

.product-item-price-hankook {
    margin: 4px 0 0 65px;
    color: #114165;
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
}

/*start right sidebar*/
.right-sidebar {
    width: 183px;
    margin-left: 12px;
    float: left;
}

.right-sidebar-header h3 {
    display: block;
    margin: 1px 0 0 3px;
    float: left;
    background-color: #fff;
    color: #114165;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
    font-weight: 200;
}

.right-sidebar-header {
    width: 179px;
    height: 26px;
    border: 1px solid #79878d;
    border-radius: 20px;
    box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
}

.right-sidebar-header-logo {
    float: left;
}

.right-sidebar-header-logo img {
    width: 22px;
    height: 22px;
    margin: 2px 0 0 2px;
    float: left;
}

.right-sidebar-title,
.right-sidebar-title2 {
    width: 105px;
    height: 25px;
    margin: 15px 0 0 12px;
    padding-top: -2px;
    padding-left: 30px;
    border: 1px solid #79878d;
    border-radius: 24px;
    background: url('../img/li-image.png') no-repeat 3% 50%;
    color: #114165;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

/*right sidebar form*/

.right-sidebar input {
    width: 100px;
    margin-bottom: 2px;

}

.right-sidebar input[type="checkbox"] {
    width: 10px;
    height: 10px;
    margin: 10px 0 0 23px;
    border: 1px solid #114165;
    background-color: #fff;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .75);
}

.right-sidebar span {
    width: 49px;
    height: 62px;
    margin-left: 15px;
    color: #465961;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
    font-weight: 400;
}

.right-sidebar-title2 {
    margin-top: 5px;
}

.right-sidebar-button button {
    width: 82px;
    height: 26px;
    margin: 14px 0 0 23px;
    border: 1px solid #a7abae;
    border-radius: 9px;
    background: #000 linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
    color: #e5e9ea;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
}

.logo-brend-img1 {
    margin: 41px 0 0 116px;
}

.logo-brend-img2 {
    margin: 0 0 5px 6px;
}

.logo-brend-img3 {
    margin: 1px 0 0 8px;
}

.logo-brend-img4 {
    margin: 0 0 0 12px;
}

.logo-brend-img5 {
    margin: 0 0 6px 5px;
}

.logo-brend-img6 {
    margin: 20px 0 0 8px;
}

.logo-brend-img7 {
    margin: 0 0 6px 10px;
}

.logo-brend-img8 {
    margin: 0 0 6px 9px;
}

footer {
    width: 910px;
    height: 100px;
    margin: 21px 0 0 -2px;
    border: 1px solid #242a3c;
    background-color: #213a4d;
}

footer ul {
    margin-top: 11px;
    margin-left: 297px;
}

footer li {
    float: left;
    border-right: 2px solid #bec6c9;
    line-height: 12px;
    list-style: none;
}

footer a {
    display: block;
    padding: 0 11px 0 13px;
    color: #bec6c9;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

footer li:last-child {
    border-right: 0;
}

footer a:hover {
    color: #52abcb;
}

footer p {
    margin: 16px 0 0 375px;
    color: #7f4740;
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;
}
