* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/background.png);
    background-repeat: repeat-x;
    font-family: Tahoma;
}

.wrapper {
    width: 1000px;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 3px 4px 2px rgba(0,0,0,0.75);
    
}

.header {
    height: 175px;
}

.logo {
    position: absolute;
    margin-top: 11px;
    margin-left: 28px;
    height: 164px;
    width: 283px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
}

.logo-text {
    float: left;
    color: #128aa7;
    font-size: 12px;
    padding: 100px 80px 53px 72px;
}

.contact {
    float: right;
    color: rgba(18, 138, 167, 0.8);
    padding-top: 11px;
    padding-bottom: 20px;
    padding-right: 30px;
}

.contact a {
    font-size: 12px;
    line-height: 16px;
    color: rgba(18, 138, 167, 0.8);
    text-decoration: none;
}

.country {
    clear: both;
    position: relative;
    overflow: hidden;
    float: right;
    width: 324px;
    padding-right: 34px;
}

.country img {
    width: 42px;
    height: 42px;
}

.country li {
    list-style: none;
    float: left;
    margin-right: 9px;
    text-align: center;
}

.country a {
    font-size: 10px;
}

.country ul>p {
    padding-top: 4px;
}

.header-foto {
    height: 237px;
}

.top-menu {
    height: 30px;
    background-color: #343434;
}

.top-menu img {
    position: absolute;
    float: right;
}

.top-menu li {
    display: block;
    list-style: none;
    padding-right: 10px;
}

.top-menu li.nav {
    background-image: url(../img/white_triangles.png);
    background-repeat: no-repeat;
    background-position: right;
}

.top-menu ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

.top-menu ul>li {
    float: left;
    position: relative;
    text-align: center;
    padding-left: 65px;
}

.top-menu ul > li > a {
    display: block;
    line-height: 30px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.top-menu ul.submenu {
    display: none;
    position: absolute;
    width: 150px;
    left: 10px;
    background-color: #343434;
    z-index: 1;
}

.submenu {
    box-shadow: 2px 4px 5px 0.00px rgba(0, 0, 0, 0.75);
}

.top-menu ul.submenu > li {
    display: block;
    padding-left: 0px;
    text-align: left;
}

.top-menu ul.submenu > li > a {
    display: block;
    width: 150px;
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

.top-menu ul.submenu > li > a:hover {
    text-decoration: underline;
}

.top-menu ul > li:hover > ul.submenu {
    display: block;
}

.content {
    width: 1000px;
}

.content {
    width: 1000px;
    overflow: hidden;
    /* чтобы лишее обрезалось */
}

.content p {
    font-size: 14px;
    color: #707771;
    padding: 15px;
    line-height: 20px;
    padding-top: 8px;
}

.content h3 {
    color: #707771;
    text-align: center;
    padding-top: 12px;
}

.leftColumn {
    width: 207px;
    float: left;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    border: 1px solid #c7cacf;
    
}

.centerColumn {
    width: 582px;
    float: left;
    background: #ffffff;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.rightColumn {
    width: 207px;
    float: left;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    border: 1px solid #c7cacf;
}

.copyright {
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: #cee3ec;
}